#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #000000, #292828 );

}

.timer-container {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  padding:1rem;
}
.timer-card {
  padding: 1.2em;
  background: linear-gradient(45deg, rgba(13, 13, 13, 0.15), rgba(133, 132, 132, 0.326), rgba(13, 13, 13, 0.15));
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(20px); 
  border-radius: 16px; 
  border: 1px solid rgba(255, 255, 255, 0.25); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: clamp(200px, 20%, 350px);
  cursor: default;
}
.timer-card-header {
  font: 1.4rem 'Roboto Mono', monospace;
  padding: 1.4rem;
}

.timer {
  background-color: #21215b;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}

.timer-card.active { 
box-shadow: 0 0 5px 5px rgba(255, 237, 220, 0.3);
transition:box-shadow 300ms ease-in-out;

}

.timer-card.passed {
  background: linear-gradient(
      135deg,
      rgba(255, 0, 150, 0.15),
      rgba(255, 179, 107, 0.15)
    );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.35);

  /* Optional subtle pearlescent shimmer */
  background-size: 200% 200%;
  animation: pearlescentShift 8s ease infinite;
}

@keyframes pearlescentShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  background: linear-gradient(145deg, #4f4f4f, #3d3d3d);
  color: #e6e6e6;
  box-shadow: -1px -1px 3px rgba(177, 176, 176, 0.6);
  transition: all 0.2s ease;
}

.button:hover {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.14),
              -2px -2px 4px rgba(193, 191, 191, 0.5);
}

.button:active {
  transform: translateY(0);
  box-shadow: inset -2px -2px 5px rgba(82, 82, 82, 0.4);
}
